*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    @include onlyContent();
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

body {
    background-color: $body-c;
    background-attachment: fixed;
}

ul {
    @include onlyContent();
    list-style-type: none;
}

section::after, .cf::after {
    clear:both;
    content:"";
    display:block;
}

a {
    text-decoration: none;
}

.last {
    margin-bottom: $footer-height+25!important;
}

.to-right {
    float: right!important;
}

.to-left {
    float: left!important;
}

.invisible {
    display: none;
}

@media (max-width: 767px) {
    .hxs {
        display: none;
    }
}
