$header-height: 70px;
$footer-height: 60px;
$menu-list: 5;

$body-c: #F0F0F0;
$box-c: #fff;
$fail-c: #F44336;
$warning-c: #FCF8E3;
$success-c: #7cb124;
$btn-edit-color: #2196f3;
$btn-delete-color: $fail-c;
$btn-download-color: $success-c;
$btn-send-color: #2ECC71;
$btn-cancel-color: #EF4836;
$btn-warning-color: #F5AB35;
    
//These colors are variations of the same color. These colors are used on footer 
$base-c: #174368;
$base-c2: #30618A;
$base-c3: #5A8BB4;
