<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport"></meta>
        <link rel="icon" type="image/png" href="../vendors/gainTime/dist/img/logo-gT.png">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../vendors/gainTime/dist/css/gainTime.min.css">
        <title>Edição de Notícias</title>
    </head>
    <body>
        <header>
            <a href=""><img src="../vendors/gainTime/dist/img/logo-gT.png" alt="GainTime" class="menu-logo"></a>
            <div id="me">
                <img src="../vendors/gainTime/dist/img/logo-gT.png" alt="Me" class="professor-image">
                <ul id="me-menu">
                    <a href="#"><li>Meu Perfil</li></a>
                    <a href="login.html"><li>Sair</li></a>
                </ul>
            </div>
            <input type="checkbox" id="menu" class="toggle">
            <label id="menu-toggle" for="menu" onclick><i class="fa fa-bars"></i></label>
            <nav class="menu">
                <ul>
                    <a href="index.html"><li><i class="fa fa-home"></i> Início</li></a>
                    <a href="news.html"><li><i class="fa fa-newspaper-o"></i> Notícias</li></a>
                    <a href="files.html"><li><i class="fa fa-file-pdf-o"></i> Arquivos</li></a>
                    <a href="users.html"><li><i class="fa fa-user"></i> Usuários</li></a>
                    <a href="contact.html"><li><i class="fa fa-user"></i> Contato</li></a>
                </ul>
            </nav>
        </header>
        <section class="box last">
            <div class="top-bar">
                <h2><i class="fa fa-user"></i> Editar Notícia</h2>
            </div>
            <form action="" method="POST" enctype="multipart/form-data" class="s-form">
                <div class="msg-fixed warning">Os campos com * são obrigatórios.</div>
                <div class="prev-img" style="background-image: url(../vendors/gainTime/dist/img/logo-gT.png)">
                    <div class="fake">
                        <i class="icon-picture"></i>
                    </div>
                    <img id="prev-img">
                    <input type="file" name="picture" value="" id="changer">
                </div>
                <div class="field has-label">
                    <label for="notice_title">Título da Notícia *</label>
                    <input type="text" name="notice[title]" value="" required>
                </div>
                <div class="field has-label">
                    <label for="notice_author">Subtítulo *</label>
                    <input type="text" name="notice[subtitle]" value="" required>
                </div>
                <div class="select-group">
                    <label for="archive">Categoria</label>
                    <select name="" id="archive">
                        <option value="">Esportes</option>
                        <option value="">Música</option>
                    </select>
                </div>
                <div>
                    <div class="field menot">
                        <label for="notice_description">Texto *</label>
                    </div>
                    <textarea name="notice[text]" id="area1" cols="10" rows="5" ></textarea>
                </div>
                <div class="btn-pair">
                    <a href="news.html" class="btn cancel">Voltar</a>
                    <input type="submit" class="btn send" value="Salvar">
                </div>
            </form>
        </section>
        <footer>
            <div>
                <p>Área administrativa do<a href="https://github.com/GainTime/gainTime"> <b style="color: #000">GainTime <i class="fa fa-github" aria-hidden="true"></i></b></a></p>
            </div>
        </footer>
        <script src="../vendors/gainTime/vendors/jquery-2.1.4.min.js"></script>
        <script src="../vendors/gainTime/dist/js/gainTime.min.js"></script>
    </body>
</html>
