/*------ MENU ------*/

header {
    background-color: $box-c;
    border: medium none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    height: $header-height;
    padding: 0 5%;
    .fa {
        margin-right: 2px;
        margin-top: 5px;
    }
    .menu-logo {
        float: left;
        height: 100%;
        padding: 5px 0;
    }
    #me {
        background-color: #1568AB;
        border-radius: 3px;
        cursor: pointer;
        float: right;
        height: 50px;
        margin-left: 15px;
        margin-top: 10px;
        position: relative;
        width: 50px;
        img {
            height: 100%;
        }
    }
    #me-menu {
        background-color: #FFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        display: none;
        position: absolute;
        right: 0;
        top: 50px;
        width: 100px;
        li {
            color: #526069;
            padding: 5px 10px;
            &:hover {
                background-color: $base-c2;
                color: #fff;
            }
        }
    }
    .menu{
        &::after {
            clear:both;
            content:"";
            display:block;
        }

        li {
            color: #526069;
            float: left;
        }
    }
    .toggle,
    #menu-toggle {
        display: none;
    }

    #menu-toggle {
        color: $base-c2;
        cursor: pointer;
        font-size: 50px;
        padding: 5px;
    }
}

/*----- RESPONSIVE ------*/


@media (max-width: 520px) {
    header{
        padding: 0 20px;
    }
}

@media (max-width: 992px) {
    header {
        .menu {
            background-color: $base-c2;
            display: block;
            left: 0;
            max-height: 0px;
            overflow: hidden;
            padding: 0px;
            position: absolute;
            top: $header-height;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            width: 100%;
            z-index: 6;
            li {
                color: #fff;
                margin: 0;
                padding: 10px 15px;
                width: 100%;
                &:hover {
                    background-color: #fff;
                    color: $base-c2;
                }
            }
        }

        #menu-toggle {
            display: block;
            i {
                float: right;
            }
        }

        #menu:checked ~ .menu {
            border-bottom: 1px solid rgba(95, 95, 95, 0.3);
            height: auto;
            max-height: 100%;
            padding: 15px 0;
        }
    }
}

@media (min-width:993px) {
    .menu,
    .menu ul {
        float: right;
    }

    .menu,
    .menu ul,
    .menu li {
        height: 100%;
    }

    .menu li {
        padding: 22px 10px;
        text-align: center;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
    }

    .menu li:hover {
        background-color: lighten($base-c2, 5%);
        color: #FFF;
    }

    .menu li.active {
        background-color: $base-c2;
        color: #FFF;
    }

}
